# Royaltaxi credentials
ROYALTAXI_USERNAME=jaxong1r
ROYALTAXI_PASSWORD=Pd021R@vT!G%
ROYALTAXI_BASE_URL=https://hive-respublika-new.royaltaxi.uz

# Gemini (keyinroq kerak bo'ladi)
GEMINI_API_KEY=

# Log level: trace | debug | info | warn | error | fatal
LOG_LEVEL=info

# Headless mode: false - brauzerni ko'rish uchun (dev), true - arqa fonda (prod)
BROWSER_HEADLESS=false

# Node environment
NODE_ENV=development
